@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.video-container {
    flex-grow: 1;
}
#player {
    width: 727px;
    height: 545px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
}


.player-button {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border-style: hidden;
    margin-right: 12px;

    font-size: larger;
    width: 23px;
    height: 23px;
}

.button-fullscreen {
    margin-right: 5px;
}

.current-time {
    margin-left: -5px;
}
.duration-time {
    margin-right: 2px;
}

.progressbar {
}

.player-button:focus {
    background-color: rgba(110, 109, 109, 0.4);
}
.player-buttons {
    flex-grow: 0;
    background: black;
    display: flex;
    flex-direction: row;
    padding-left: 3px;
    padding-bottom: 7px;
}
.space {
    flex-grow: 1;
}